<div id="<%= dom_id entity %>" class="border p-4 mb-4 cursor-pointer">
  <div class="flex items-center mb-2">
    <div>
      <p class="text-lg font-semibold"><%= entity.name %></p>
    </div>
    <div class="ml-auto">
      <strong>Amount:</strong> <%=  %>
    </div>
  </div>
</div>
