<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-md p-8 bg-white shadow-lg rounded-lg">
    <h3 class="text-3xl font-semibold text-center">Budget App</h3>
    <p class="text-center text-gray-600 mb-8">A simple and effective budget management tool.</p>
    <div class="flex justify-center">
      <%= link_to "Sign in", new_user_registration_path, class: "bg-blue-500 text-white px-4 py-2 rounded-lg mr-4 hover:bg-blue-600" %>
      <%= link_to "Log in", new_user_session_path, class: "bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600" %>
    </div>
  </div>
</div>
